<% content_for :title, "Jobbörse" %>
<% javascript_include_tag "jquery.ba-url.min", "pagination" %>

<div class="subcategorie_head">
	<div>
		Alle Jobs
	</div>
	<div>
		Filter: Select/Option
			
	</div>
	<div>
		<a href="<%= new_job_path %>">
			<div></div>
			<%= link_to 'Anzeige hinzufügen', new_job_path %>
		</a>
	</div>
</div>

<div id="jobs">
	<%= render :partial => 'jobs' %>
</div>
