<% title "Impressum" %>
<h1>Impressum</h1>
<p>
	<strong>FH Börse</strong><br />
	Fachhochschule Salzburg<br />
	MultiMediaTechnology, 2012<br />
	Fachspezifisches Qualifikationsprojekt 2a
</p>

<p>
	<strong>Entwickler:</strong><br />
	Lukas Wanko<br />
	Sören Hentzschel
</p>
