<% title "Allgemeine Geschäftsbedingungen" %>
<h1>Allgemeine Geschäftsbedingungen (AGB)</h1>

<p><b>§ 1<br>
Geltungsbereich & Abwehrklausel </b></p>
<p>(1) Für die über diese Börse begründeten Rechtsbeziehungen zwischen dem Betreiber des Shops und seinen Benützern gelten ausschließlich die folgenden Allgemeinen Geschäftsbedingungen in der jeweiligen Fassung zum Zeitpunkt der Benützung.</p> 
<p>(2) Abweichende Allgemeine Geschäftsbedingungen des Kunden werden zurückgewiesen. </p>

<p><b>§ 2<br>
Zustandekommen des Vertrages</b></p> 
<p>(1) Die Präsentation der Anzeigen in der Börse stellt kein bindendes Angebot des Betreibers auf Abschluss einer Zusicherung oder eines Vertrages dar. Der Benützer wird hierdurch lediglich unterstützt.</p> 
<p>(2) Stillschweigende, mündliche oder schriftliche Verträge werden zwischen natürlichen Personen außerhalb dieser Börse getroffen. Die FH-Börse distanziert sich von jeglichen Vereinbarungen zwischen Zweiten oder Dritten. Mit dem Absenden einer Anzeige erkennt der Kunde auch diese Geschäftsbedingungen als für das Rechtsverhältnis mit dem Betreiber allein maßgeblich an.</p> 
<p>(3) Der Anbieter bestätigt und gewährleistet den Eingang und den Erhalt einer Anzeige des Benützers der Börse nicht.</p> 

<p>§ 3<br>
Eigentumsvorbehalt </b></p>
<p>Da die FH-Börse sich von jedweiligen Verträgen anderer distanziert, besitzt die Börse in keinem Fall zu keiner Zeit inserierte Objekte.</p> 

<p><b>§ 4<br>
Fälligkeit </b></p>
<p>Die Zahlung eines Kauf- oder Mietpreises ist stets den Inserent und den Käufer oder Mieter überlassen.</p>

<p><b>§ 5<br>
Gewährleistung </b></p>
<p>(1) Die Gewährleistungsrechte des Benützers richten sich nach den allgemeinen gesetzlichen Vorschriften, zwischen zwei außenstehenden rechtlichen Personen und nie in Zusammenhang auf diese Börse. Für Schadensersatzansprüche des Kunden gegenüber dem Betreiber gilt die Regelung in § 6 dieser AGB.</p> 
<p>(2) Die Verjährungsfrist für Gewährleistungsansprüche existiert nicht, da der Betreiber der Börse keine Pflichten gegenüber des Benützers besitzt.</p> 
<p>(3) Eine Garantie wird von dem Betreiber nicht erklärt. </p>

<p><b>§ 6<br>
Haftungsausschluss </b></p>
<p>(1) Schadensersatzansprüche des Kunden sind ausgeschlossen. </p>
<p>(2) Von dem unter Ziffer 1 bestimmten Haftungsausschluss ausgenommen sind auch nicht Schadensersatzansprüche aufgrund einer Verletzung des Lebens, des Körpers, der Gesundheit und Schadensersatzansprüche aus der Verletzung wesentlicher Vertragspflichten. </p>
<p><b>§ 7<br>
Abtretungs- und Verpfändungsverbot </b></p>
<p>Die Abtretung oder Verpfändung von dem Kunden gegenüber dem Anbieter zustehenden Ansprüchen oder Rechten ist ohne Zustimmung des Anbieters ausgeschlossen, sofern der Kunde nicht ein berechtigtes Interesse an der Abtretung oder Verpfändung nachweist. </p>

<p><b>§ 8<br>
Rechtswahl & Gerichtsstand </b></p>
<p>(1) Auf die vertraglichen Beziehungen zwischen dem Anbieter und dem Kunden findet das Recht der Bundesrepublik Österreich Anwendung. Von dieser Rechtswahl ausgenommen sind nicht die zwingenden Verbraucherschutzvorschriften des Landes, in dem der Kunde seinen gewöhnlichen Aufenthalt hat. Die Anwendung des UN-Kaufrechts ist ausgeschlossen. 
<p>(2) Gerichtsstand für alle Streitigkeiten aus dem Vertragsverhältnis zwischen dem Benützer und dem Betreiber ist der Sitz des Betreibers, sofern es sich bei dem Benützer um einen Kaufmann, eine juristische Person des öffentlichen Rechts oder ein öffentlich-rechtliches Sondervermögen handelt. </p>

<p><b>§ 9<br>
Salvatorische Klausel</b></p>
Sollte eine Bestimmung dieser Allgemeinen Geschäftsbedingungen unwirksam sein, wird davon die Wirksamkeit der übrigen Bestimmungen nicht berührt. </p>