/*
 * This is a manifest file that'll automatically include all the stylesheets available in this directory
 * and any sub-directories. You're free to add application-wide styles to this file and they'll appear at
 * the top of the compiled file, but it's generally better to create a new file per style scope.
 *= require_self
*/

html{overflow-y:scroll;}
body{background:#fff;color:#6a6a6a;}
body,input,textarea{font-size:12px;font-family:'Trebuchet MS',Arial,Helvetica,sans-serif;}
img{border:none;}
a,#browser_id button{-moz-transition-property:color;-moz-transition-duration:.5s;-moz-transition-timing-function:ease;-webkit-transition-property:color;-webkit-transition-duration:.5s;-o-transition-property:color;-o-transition-duration:.5s;color:#6a6a6a;}
a:hover,a.active,#browser_id:hover button{color:#a10b2f;}
h1{font-size:16px;}
#mainWrapper{margin:0 auto;width:950px;}
#logo{float:left;background:url('/images/logo.png') no-repeat;width:274px;height:107px;-moz-transition-property:background;-moz-transition-duration:.5s;-moz-transition-timing-function:ease;-webkit-transition-property:background;-webkit-transition-duration:.5s;-o-transition-property:background;-o-transition-duration:.5s;}
#logo a{display:block;width:100%;height:100%;}
.button{float:right;margin-left:5px;background:url('/images/loginbutton.png') no-repeat;margin-top:40px;padding-top:7px;width:87px;height:23px;cursor:pointer;text-align:center;text-shadow:1px 2px 1px #fff;}
.button:hover{background-position:0 -30px;}
.button a{display:block;width:100%;height:100%;text-decoration:none;}
#browser_id button{background:none;border:none;cursor:pointer;font-size:12px;text-shadow:1px 2px 1px #fff;}
#userbar{float:right;margin-top:48px;}
#navigation{clear:both;float:right;margin:30px 0;padding:0;list-style-type:none;font-size:16px;}
#navigation li{float:left;margin-left:15px;}
#navigation li a{text-decoration:none;}
#breadcrumbs{clear:both;float:left;margin:0;margin-bottom:30px;padding:0;height:50px;line-height:50px;background:url('/images/breadcrumbs_bg.png') repeat-x;box-shadow:0 0 10px #ccc;}
#breadcrumbs li{list-style-type:none;float:left;padding-left:10px;}
#breadcrumbs li:first-child{background:url('/images/breadcrumbs_home.png') repeat-x;width:58px;}
#breadcrumbs li:first-child:hover{background-position:0 -50px;}
#breadcrumbs li:first-child a{background:none;}
#breadcrumbs li:last-child a{margin-right:-13px;color:#515151;}
#breadcrumbs li:last-child a:hover{color:#a10b2f;}
#breadcrumbs li a{height:50px;display:block;background:url('/images/breadcrumbs_arrow.png');background-repeat:no-repeat;background-position:right;padding:0 30px 0 10px;text-decoration: none;color:#aeaeae;}
#breadcrumbs li a:hover{color:#a10b2f;}
#mainContainer{clear:both;float:left;width:650px;}
#sidebar{float:right;width:250px;}
#footer{float:right;margin-right:-30px;margin-bottom:10px;}
#notice{background:#83C899;color:#fff;text-align:center;}
.closeIcon{float:right;background:url('/images/close.png') no-repeat;cursor:pointer;width:16px;height:16px;}
.container{margin-bottom:15px;padding:15px;width:100%;box-shadow:0 0 10px #ccc;border:1px #d2d4d0 solid;border-radius:5px;word-wrap:break-word;}
.containerHead{margin:-15px;margin-bottom:0;height:28px;line-height:28px;background:url('/images/container_head.png') repeat-x;text-align:center;border-top-left-radius:5px;border-top-right-radius:5px;font-weight:bold;}
.listItem{padding:15px 0;border-bottom:1px #d2d4d0 solid;text-align:center;}
.listItem:last-child{border-bottom:none;}
.listItem a{display:block;width:100%;height:100%;text-decoration:none;}
.listItem a:hover .subject{color:#a10b2f;}
.listItem .subject{font-weight:bold;color:#000;}
.listItem .date{font-size:10px;}
textarea{width:450px;}

/* Place all the styles related to the controllers here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
############################################################################# 
#  Here starts the css code for the index/new/show views of all controllers #
#############################################################################  
*/

#article_head{
  margin-bottom:50px;
}

#article_head div:nth-child(1){
  float:left;
}
#article_head div:nth-child(2){
  float:right;
  margin:12px 10px 0 0;
}
#article_head div:nth-child(3){
  float:right;
  margin:12px 10px 0 0;
}

#offer_or_quest_option{
  width:620px;
  margin-bottom: 20px;
}

#notice_for_form{
  margin:15px 0 20px 12px;
}

.full_messages{
  color:#550000;
}

#fail_headline{
  font-size:15px;
  color:#550000;
  font-weight:bold;
  margin-left: 10px;
}

#agb_agreement{
  margin: 5px 0 0 0;
  text-align:center;
}

.field_with_errors{
  display:inline;
}

.back_to_overview{
  float:right;
  margin: -15px 0 10px 0;
}

#submit_button{
  text-align:center;
  margin: 20px 0 30px 0;
}

#arbeitsdetails_td{
  width: 115px;
}

#ansprechpartner_td{
  width: 80px;
}

.info_headline{
  font-weight: bold;
  font-size: 13px;
  margin: 0 0 5px 0;
}

.pagination{
  text-align:center;
}

.pagination a, .pagination span, .pagination em{
  margin: 0 2px 0 2px;
}

.maincategorie_head{
  margin-bottom:15px;
}

.maincategorie_head div:first-child{
  font-size:16px;
  font-weight:bold;
  float:left;
}

.maincategorie_head div:nth-child(2){
  float:right;
  padding-right:20px;
}

.maincategorie_head div:nth-child(2) div{
  margin: -2px 5px 0 0;
  width: 24px;
  height: 24px;
  background: url('/images/add.png');
}

.maincategorie_head div:nth-child(2) div:hover{
  background: url('/images/add_hover.png');
}

.filters{
  margin: 40px 0 80px 15px;
}

.filters div{
  float:left;
}

.filters div > span{
  font-weight: bold;
  padding-right: 10px;
  font-size: 13px;
}

.filters div > select{
  margin-right: 20px;
}

table{
  margin: 10px; 
  table-layout: fixed;
}

.table_fix_width{
  width:620px;
}

.articles_list h2{margin:30px 0;text-align:center;}

.articles_list ul{
  list-style: none;
  padding: 0;
}

.articles_list ul a{
  font-weight:normal;
  text-decoration:none;
}

.articles_list ul a li{
  margin: 15px 0 10px 0;
  padding: 6px;
  box-shadow: 0 0 3px #ccc;
  border: #ccc 1px solid;
  border-radius: 5px;
  -moz-transition-property: all;
  -moz-transition-duration: 250ms;
  -moz-transition-timing-function: ease-in-out;
  -webkit-transition-property: all;
  -webkit-transition-duration: 250ms;
  -webkit-transition-timing-function: ease-in-out;
  -o-transition-property: all;
  -o-transition-duration: 250ms;
  -o-transition-timing-function: ease-in-out;
}

.articles_list ul a li.job{background:url('/images/modules/job.png') no-repeat center right;}
.articles_list ul a li.drive{background:url('/images/modules/drive.png') no-repeat center right;}
.articles_list ul a li.product{background:url('/images/modules/product.png') no-repeat center right;}
.articles_list ul a li.apartment{background:url('/images/modules/apartment.png') no-repeat center right;}
.articles_list ul a li.item{background:url('/images/modules/item.png') no-repeat center right;}

/*Coloring the quests*/
.offer_or_quest_false{
  border-bottom:5px #A10B2F solid !important;
}

/*Coloring the offers*/
.offer_or_quest_true{
  border-bottom:5px #83C899 solid !important;
}

.articles_list ul a li:hover{
  background-color: #f8f8f8;
  box-shadow: none;
}

.articles_list ul a li div{
  color:#6A6A6A;
}

.articles_list ul a li div:last-child{
  margin-top: 10px;
  color: #999;
}

.title{
  font-weight:bold;
  font-size:15px;
}

.offer_or_quest_true .title span{color:#83C899;}
.offer_or_quest_false .title span{color:#A10B2F;}

.ui-timepicker-div .ui-widget-header { margin-bottom: 8px; }
.ui-timepicker-div dl { text-align: left; }
.ui-timepicker-div dl dt { height: 25px; margin-bottom: -25px; }
.ui-timepicker-div dl dd { margin: 0 10px 10px 65px; }
.ui-timepicker-div td { font-size: 90%; }
.ui-tpicker-grid-label { background: none; border: none; margin: 0; padding: 0; }
