.filters{
  margin: 40px 0px 80px 13px;
}

.filters div{
  float:left;
}

.filters div > span{
  font-weight: bold;
  padding-right: 10px;
  font-size: 13px;
}

.filters div > select{
  margin-right: 20px;
}