// Place all the styles related to the Jobs controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

//Coloring the quests
.offer_or_quest_false{
  background: #DDFADD;
}

//Coloring the offers
.offer_or_quest_true{
  background: #B5FAB5;
}

#offer_or_quest_option{

  width:620px;
  margin-bottom: 20px;
}

#notice_for_form{
  margin:15px 0px 20px 12px;
}

.full_messages{
  color:#550000;
}

#fail_headline{
  font-size:15px;
  color:#550000;
  font-weight:bold;
  margin-left: 10px;
}

#agb_agreement{
  margin: 5px 0px 0px 0px;
  text-align:center;
}

.field_with_errors{
  //background:#FFBBBB;
  display:inline;
}

.back_to_overview{
  float:right;
  margin: -15px 0px 10px 0px;
}

#submit_button{
  text-align:center;
  margin: 20px 0px 30px 0px;
}

#arbeitsdetails_td{
  width: 115px;
}

#ansprechpartner_td{
  width: 80px;
}

.info_headline{
  font-weight: bold;
  font-size: 13px;
  padding: 0px 0px 5px 0px;
}

.pagination{
  text-align:center;
}

.pagination a, .pagination span, .pagination em{
  margin: 0px 2px 0px 2px;
}

.subcategorie_head{
  margin-bottom:40px;
}

.subcategorie_head input{
  position:relative;
  top:2px;
  margin-left: 10px;
}

.subcategorie_head div:first-child{
  font-size:16px;
  font-weight:bold;
  float:left;
}

.subcategorie_head div:nth-child(2){
  float:left;
  margin-left:140px;
}

.subcategorie_head div:nth-child(3){
  float:right;
  padding-right:20px;
}

.subcategorie_head div:nth-child(3) div{
  margin: -2px 5px 0px 0px;
  width: 24px;
  height: 24px;
  background: url(/images/add.png);
}

.subcategorie_head div:nth-child(2) div:hover{
  background: url(/images/add_hover.png);
}

table{
  margin: 10px; 
  table-layout: fixed;
}

.table_fix_width{
  width:620px;
}

#articles_list ul{
  list-style: none;
  padding: 0px 15px 0px 15px;
}

#articles_list ul a{
  font-weight:normal;
  text-decoration:none;
}

#articles_list ul a li{
  margin: 15px 0px 10px 0px;
  padding: 6px;
  outline: #EEE solid;

  -moz-transition-property: all;
  -moz-transition-duration: 250ms;
  -moz-transition-timing-function: ease-in-out;
  -webkit-transition-property: all;
  -webkit-transition-duration: 250ms;
  -webkit-transition-timing-function: ease-in-out;
  -o-transition-property: all;
  -o-transition-duration: 250ms;
  -o-transition-timing-function: ease-in-out;
}

#articles_list ul a li:hover{
  background:#F5FFF5;
  outline: #AFA 1px solid;
}

#articles_list ul a li span{
  color:#6A6A6A;
  font-weight:bold;
}

.title{
  font-size:14px;
}
